
/* Bilden */
img {
    margin-bottom: -2%;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: 0%;
    width: 105%; 
    height: 120%;

    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%; 
    background-color: grey;
}


/* Bakgrundsfärg utanför bilden */
body {
    background-color: #c1c0be;
}


a {
      text-decoration:none;
   }


/* Typsnitt paragraferna i rutorna */
p {
	color:black;
	font-size: 20px;
    font-family: "Times New Roman", Times, serif; 
    font-weight: normal;
    text-align: left;
    margin-top: -1%;

}


li {
    color:black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

/* Typsnitt rubrikerna i rutorna */
h1 {
	color:black;
	text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/* Typsnitt underrubrikerna i rutorna */
h2 {
    color:blue;
    text-align: left;
    color:black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/* Container som innehåller bilden de olika områdena */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* placering av "områdena" - som knapparna länkar till */
.music {
    position: absolute;
    bottom: 0%;
    left: -1%;
    background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:20%;
    width:22%;
    cursor:pointer;
}

.education {
    position: absolute;
    top: -2%;
    left: 15%;
    display:block;
    background-color: transparent;
    height: 76%;
    width: 15%;   
}

.sports {
    position: absolute;
    bottom: -2%;
    right: 12%;
    display:block;
    background-color: transparent;
    height: 25%;
    width: 15%;
}

.jobs {
    position: absolute;
    background-color: transparent;
    top: 3%;
    left: 38%;
    height: 60%;
    width: 29%;   
}

.art {
    position: absolute;
    top: 42%;
    right: 12%;
    display:block;
    background-color: transparent;
    height: 32%;
    width: 27%;
}

/* knapparna  */
#educationbtn {
    background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:100%;
    width:100%;
    cursor:pointer;
    position:relative;
    padding-top: 0%;
}

#musicbtn {
	background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:100%;
    width:100%;
    cursor:pointer;
    position:relative;
    padding-top: 0%;
}

#artbtn {
	background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:100%;
    width:100%;
    cursor:pointer;
    position:relative;
    padding-top: 20px;
}

#jobbtn {
    background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:100%;
    width:100%;
    cursor:pointer;
    position:relative;
    padding-top: 20px;
}

#sportbtn {
    background:transparent;
    border:none !important;
    outline:none;
    display:block;
    height:100%;
    width:100%;
    cursor:pointer;
    position:relative;
    padding-top: 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 0.9; /*opacity på själva textrutan */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
